<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980636118235-71inal3n4f3d9pq356jtholkq0dfcqrn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980636118235-71inal3n4f3d9pq356jtholkq0dfcqrn</string>
	<key>API_KEY</key>
	<string>AIzaSyAaeZDyG5BwVd2FzgLVxek4qqoUFRUJbCE</string>
	<key>GCM_SENDER_ID</key>
	<string>980636118235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.htaiwan.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-777cb</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-777cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980636118235:ios:70d0526967d9d960b970fe</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-777cb.firebaseio.com</string>
</dict>
</plist>